---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Drift Lab - Autonomous Vehicles Research at CAMPUS Research Institute" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/drift-logo.png" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<title>{title} | Drift Lab</title>
	</head>
	<body>
		<slot />
	</body>
</html>

